/* rest  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
	--color-red: #e22421;
	--color-icon-color: #ffffff;
	--color-tool-bar-bg: #222222;
	--color-primary-color: #000000;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

/* general  */

body{
    font-family: "Noto Sans", sans-serif;
}

.debag{
    border:  1px solid red;
}

.box{
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary-color);
    color: var(--color-icon-color);
}

/* header  */

header{
    width: 100%;
}

a{
    padding: 5px 10px;
    background-color: rgba(250, 250, 250, 0.5);
    color: var(--color-icon-color);
    border-radius: 5px;
    margin: 3px
}

i{
    padding-right: 2px;
}


/* main  */
main{
    height: calc(100% - 120px);
    overflow-y:auto;
    padding: 30px 70px;
    gap: 10px;
    width: 100%;
}

.card{
    width: calc(100% / 7 - 10px);
    aspect-ratio: 16 / 9;
    min-width: 200px;
    position: relative;
}

.badge{
    position: absolute;
    bottom: 5px;
    left: -3px;
}


/* footer  */

#toolbar{
    background-color: var(--color-tool-bar-bg);
    height: 70px;
}




/* flex utility  */

.d-flex{
    display: flex;
}

.f-end{
    justify-content: flex-end;
}

.f-center{
    justify-content: center;
}

.align-item-center{
    align-content: center;
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}




/* margin / padding  */

.padding-top{
    padding-top: 10px;
}